In [1]:
import pandas as pd
import re
import spacy
import numpy as np

In [2]:
#! pip install spacy

In [3]:
Xtrain = pd.read_pickle('x_train_cleaned.pkl')
Xtest = pd.read_pickle('x_test_cleaned.pkl')

In [4]:
ytrain = pd.read_csv(r"C:\Users\Tooba Shaukat\Downloads\Y_train_CVw08PX.csv", index_col=0)
ytrain

       prdtypecode
0               10
1             2280
2               50
3             1280
4             2705
...            ...
84911           40
84912         2583
84913         2280
84914         1560
84915         2522

[84916 rows x 1 columns]

In [5]:
train_text = Xtrain['text']

In [6]:
test_text = Xtest['text']

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features = 5000)

Xtrain_matrix = tfidf.fit_transform(train_text)

print("Shape of the TF-IDF Xtrain Matrix:")
print(Xtrain_matrix.shape)

Shape of the TF-IDF Xtrain Matrix:
(84916, 5000)

In [8]:
Xtest_matrix = tfidf.fit_transform(test_text)

print("Shape of the TF-IDF Xtest Matrix:")
print(Xtest_matrix.shape)

Shape of the TF-IDF Xtest Matrix:
(13812, 5000)

In [9]:
import pickle
pickle.dump(Xtrain_matrix, open("Xtrain_matrix.pkl", "wb"))
#X = pickle.load(open("Xtrain_matrix.pkl", 'rb'))

In [10]:
pickle.dump(Xtest_matrix, open("Xtest_matrix.pkl", "wb"))

In [11]:
target_labels = [str(n) for n in range(27)]

In [12]:
prdtypecodes = list(ytrain['prdtypecode'].unique())

In [13]:
ytrain['target'] = ytrain['prdtypecode'].replace(prdtypecodes, target_labels)
ytrain = ytrain.drop(columns=['prdtypecode'])
ytrain.head()

  target
0      0
1      1
2      2
3      3
4      4

In [14]:
ytrain

      target
0          0
1          1
2          2
3          3
4          4
...      ...
84911     18
84912     12
84913      1
84914      7
84915      5

[84916 rows x 1 columns]

In [15]:
ytrain['target'] = ytrain['target'].astype('int64')

In [17]:
ytrain.to_pickle('ytrain.pkl')

In [18]:
ytrain = pd.read_pickle('ytrain.pkl')